<!DOCTYPE html>
<html>
  <head>
    <h1>Food trucks near you</h1>
    <div id="status"></div>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7JjvOJV5s9-M3NTg72p28gRH1pdluW7U">
    </script>
    <script type="text/javascript" src='javascripts/maps.js'></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>