<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <div id="demo"></div>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7JjvOJV5s9-M3NTg72p28gRH1pdluW7U">
    </script>
    <script type="text/javascript" src='maps.js'></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>